<div ng-include="'app/pages/teamlead/assignPeople/widgets/filter.html'"></div>
<div class="widgets">
    <div class="wid-content">
        <div class="row">
            <div class="col-md-12" ba-panel ba-panel-title="Editable Rows" ba-panel-class="with-scroll" st-table="listAssignPeople">
                <div class="table-responsive">
                    <table class="table table-hover st-table">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Link CV</th>
                                <th>Trạng thái</th>
                                <th>Kết quả</th>
                                <th>Người chấm</th>
                                <th>Người chấm link</th>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" id="" value="" class="form-control" disabled>
                                </td>
                                <td>
                                    <ui-select ng-model="searchName.selected" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true"
                                        search-enabled="false">
                                        <ui-select-match placeholder="Search Name">
                                            <span> {{$select.selected.name}}</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in listFullname | filter: $select.search">
                                            <span ng-bind-html="item.name"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td>
                                    <input type="text" id="txt_search_email" value="" placeholder="Search Email" class="form-control">
                                </td>
                                <td>
                                    <input type="text" id="txt_search_link_cv" value="" placeholder="Search Link CV" class="form-control">
                                </td>
                                <td>
                                    <ui-select ng-model="searchStatus.selected" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true"
                                        search-enabled="false">
                                        <ui-select-match placeholder="Search Status">
                                            <span> {{$select.selected.name}}</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in statuses | filter: $select.search">
                                            <span ng-bind-html="item.name"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td>
                                    <ui-select ng-model="searchResult.selected" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true"
                                        search-enabled="false">
                                        <ui-select-match placeholder="Search Result">
                                            <span> {{$select.selected.name}}</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in listResults | filter: $select.search">
                                            <span ng-bind-html="item.name"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td>
                                    <input type="text" id="txt_search_score_user" value="" placeholder="Search Người Chấm" class="form-control">
                                </td>
                                <td>
                                    <input type="text" id="txt_search_score_user_link" value="" placeholder="Search Người Chấm CV" class="form-control">
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="st-row__parent action" ng-repeat="item in listAssignPeople track by item.id">
                                <td>
                                    <label class="custom-checkbox">
                                        <input type="checkbox" id="chk_{{ item.id }}" value="">
                                        <span>&nbsp;</span>
                                    </label>
                                </td>
                                <td>{{ item.fullName }}</td>
                                <td>{{ item.email }}</td>
                                <td>
                                    <a href="{{ item.linkCV }}" target="_blank">{{ item.linkCV }}</td>
                                </td>
                                <td>{{ item.status == 0 ? 'New' : 'Complete' }}</td>
                                <td>{{ item.result == 1 ? 'Pass' : 'Pending' }}</td>
                                <td>{{ item.proposer }}</td>
                                <td>{{ item.proposer_link }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <div st-pagination="" st-template="app/pages/common/pagination.html" st-items-by-page="selectedPageSize.selected.value" st-displayed-pages="5"></div>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'app/pages/teamlead/widgets/footer.html'"></div>
</div>