<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="project_key">Project key (*)</label>
            <input type="text" id="project_key" ng-model="itemOrder.projectKey" class="form-control" placeholder="Tiếp nhận CV">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="summary">Summary (*)</label>
            <input type="text" id="summary" ng-model="itemOrder.summary" class="form-control" placeholder="VD: [Native] tuyển 22 tư vấn tuyển sinh">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="propeser">Người đề xuất</label>
            <input type="text" id="propeser" ng-model="itemOrder.propeser" class="form-control" placeholder="VD: hoangnt15">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="positionApplying">Vị trí ứng tuyển</label>
            <input type="text" id="positionApplying" ng-model="itemOrder.positionApplying" class="form-control" placeholder="VD: Developer">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="jdCode">Mã JD(*)</label>
            <input type="text" id="jdCode" ng-model="itemOrder.jdCode" class="form-control" placeholder="VD: JD001">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="jdLink">Link JD(*)</label>
            <input type="text" id="jdLink" ng-model="itemOrder.jdLink" class="form-control" placeholder="VD: JD123456">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="quantity">Số lượng cầm tuyển (*)</label>
            <input type="text" id="quantity" ng-model="itemOrder.quantity" class="form-control" placeholder="VD: 69">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="orderDate">Ngày đặt hàng (*)</label>
            </span>
            <div class="input-group st-calendar">
                <input type="text" class="form-control" ng-change="open(0)" uib-datepicker-popup="{{format}}" datepicker-options="options"
                    ng-model="itemOrder.orderDate" is-open="opened[0]" close-text="Close" alt-input-formats="altInputFormats"
                    show-button-bar="false" />
                <span class="btn-primary input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open(0)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="step5">Ngày hết hạn (*)</label>
            <div class="input-group st-calendar">
                <input type="text" class="form-control" ng-change="open(1)" uib-datepicker-popup="{{format}}" datepicker-options="options"
                    ng-model="itemOrder.endDate" is-open="opened[1]" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false"
                />
                <span class="btn-primary input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open(1)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="orderType">Loại đơn hàng (*)</label>
            <input type="text" id="orderType" ng-model="itemOrder.orderType" class="form-control" placeholder="VD: SEN TTAJOB">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="teamlead">Người phụ trách/Teamlead</label>
            <ui-select ng-model="teamlead.selected" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true"
                search-enabled="false">
                <ui-select-match placeholder="Select Peoples">
                    <span> {{$select.selected.name}}</span>
                </ui-select-match>
                <ui-select-choices repeat="item in peoples | filter: $select.search">
                    <span ng-bind-html="item.name"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="converter">Converter (tùy chọn)</label>
            <ui-select ng-model="converter.selected" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true"
                search-enabled="false">
                <ui-select-match placeholder="Select">
                    <span> {{$select.selected.name}}</span>
                </ui-select-match>
                <ui-select-choices repeat="item in peoples | filter: $select.search">
                    <span ng-bind-html="item.name"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-right">
        <div class="form-group">
            <button type="button" class="btn btn-info" ng-click="nextStep()">Next</button>
        </div>
    </div>
</div>