<div ng-include="'app/pages/settings/emailManagement/widgets/filter.html'"></div>
<div class="widgets">
  <div class="wid-content">
    <div class="row">
      <div class="col-md-12" ba-panel ba-panel-title="Editable Rows" ba-panel-class="with-scroll" st-table="listEmailTemplate">
        <div class="table-responsive">
          <table class="table table-hover st-table">
            <thead>
              <tr class="st-row__parent">
                <th>STT</th>
                <th>Đơn hàng</th>
                <th>Tên Email Template</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr class="st-row__parent action" ng-repeat="item in listEmailTemplate track by $index">
                <td>{{ item.stt }}</td>
                <td>{{ item.donHang }}</td>
                <td>{{ item.templateName }}</td>
                <td>
                  <button type="button" class="btn btn-info" data-toggle="modal" ng-click="openPopup('app/pages/settings/emailManagement/widgets/create-template.html', '')">
                    <i class="ion-edit">&nbsp;</i>
                    <span>Edit</span>
                  </button>
                  <button type="button" class="btn btn-default" ng-click="deleteTemplate($index)">
                    <i class="ion-trash-b">&nbsp;</i>
                    <span>Delete</span>
                  </button>
                  <button type="button" class="btn btn-default">
                      <i class="ion-ios-copy">&nbsp;</i>
                      <span>Clone</span>
                    </button>
                    <button type="button" class="btn btn-primary">
                        <i class="ion-android-send">&nbsp;</i>
                        <span>Send</span>
                      </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="text-center">
          <div st-pagination="" st-template="app/pages/common/pagination.html" st-items-by-page="selectedPageSize.selected.value" st-displayed-pages="5"></div>
        </div>
      </div>
    </div>
  </div>
</div>