<div ng-include="'app/pages/contact/ranking/widgets/filter.html'"></div>
<div class="widgets">
  <div class="wid-content">
    <div class="row">
      <div class="col-md-12" ba-panel ba-panel-class="with-scroll" st-table="listRanking">
        <div class="table-responsive">
          <table class="table table-hover st-table">
            <thead>
              <tr class="st-row__parent">
                <th>Ngày tìm CV</th>
                <th>Họ và Tên</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th>Link CV</th>
                <th>Source</th>
                <th>TTPV.Ranking.Note</th>
                <th>TTPV.Ranking.ThuHang</th>
                <th>TTPV.Ranking.KetQua</th>
              </tr>
              <tr class="st-row__parent">
                <td>
                  <div class="input-group st-calendar">
                    <input type="text" class="form-control" ng-change="open()" uib-datepicker-popup="{{format}}" datepicker-options="options"
                      ng-model="dt" is-open="opened" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false"
                    />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open()">
                        <i class="glyphicon glyphicon-calendar"></i>
                      </button>
                    </span>
                  </div>
                </td>
                <td>
                  <input type="text" class="form-control" id="txt_searchname" placeholder="Search name">
                </td>
                <td>
                  <input type="text" class="form-control" id="txt_searchemail" placeholder="Search email">
                </td>
                <td>
                  <input type="text" class="form-control" id="txt_searchtel" placeholder="Search phone number">
                </td>
                <td>
                  <input type="text" class="form-control" id="txt_searchlinkcv" placeholder="Search link CV">
                </td>
                <td>
                  <input type="text" class="form-control" id="txt_searchsource" placeholder="Search source">
                </td>
                <td>
                  <input type="text" class="form-control" id="txt_searchsource" placeholder="Search source">
                </td>
                <td>
                  <input type="text" class="form-control" id="txt_searchsource" placeholder="Search source">
                </td>
                <td>
                  <input type="text" class="form-control" id="txt_searchsource" placeholder="Search source">
                </td>
              </tr>
            </thead>
            <tbody>
              <tr class="st-row__parent"  ng-repeat="item in listRanking track by item.id">
                <td>{{ item.searchDate }}</td>
                <td>{{ item.fullName }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.telephone }}</td>
                <td>{{ item.linkCV }}</td>
                <td>{{ item.source }}</td>
                <td>{{ item.note }}</td>
                <td>{{ item.rank }}</td>
                <td>{{ item.result }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="text-center">
          <div st-pagination="" st-template="app/pages/common/pagination.html" st-items-by-page="selectedPageSize.selected.value" st-displayed-pages="5"></div>
        </div>
      </div>
    </div>
  </div>
</div>