<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="step1">TTDH_Step 1</label>
            <input type="text" id="step1" class="form-control" value="Tiếp nhận CV" placeholder="Tiếp nhận CV">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="step1">TTDH_Step 6</label>
            <ui-select id="step1" ng-model="step6.selected" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true"
                search-enabled="false">
                <ui-select-match placeholder="Select Step">
                    <span> {{$select.selected.text}}</span>
                </ui-select-match>
                <ui-select-choices repeat="item in stepOptions | filter: $select.search">
                    <span ng-bind-html="item.text"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="step2">TTDH_Step 2</label>
            <ui-select id="step2" ng-model="step2.selected" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true"
                search-enabled="false">
                <ui-select-match placeholder="Select Step">
                    <span> {{$select.selected.text}}</span>
                </ui-select-match>
                <ui-select-choices repeat="item in stepOptions | filter: $select.search">
                    <span ng-bind-html="item.text"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="step7">TTDH_Step 7</label>
            <ui-select id="step7" ng-model="step7.selected" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true"
                search-enabled="false">
                <ui-select-match placeholder="Select Step">
                    <span> {{$select.selected.text}}</span>
                </ui-select-match>
                <ui-select-choices repeat="item in stepOptions | filter: $select.search">
                    <span ng-bind-html="item.text"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="step3">TTDH_Step 3</label>
            <ui-select id="step3" ng-model="step3.selected" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true"
                search-enabled="false">
                <ui-select-match placeholder="Select Step">
                    <span> {{$select.selected.text}}</span>
                </ui-select-match>
                <ui-select-choices repeat="item in stepOptions | filter: $select.search">
                    <span ng-bind-html="item.text"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="step8">TTDH_Step 8</label>
            <ui-select id="step8" ng-model="step8.selected" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true"
                search-enabled="false">
                <ui-select-match placeholder="Select Step">
                    <span> {{$select.selected.text}}</span>
                </ui-select-match>
                <ui-select-choices repeat="item in stepOptions | filter: $select.search">
                    <span ng-bind-html="item.text"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="step4">TTDH_Step 4</label>
            <ui-select id="step4" ng-model="step4.selected" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true"
                search-enabled="false">
                <ui-select-match placeholder="Select Step">
                    <span> {{$select.selected.text}}</span>
                </ui-select-match>
                <ui-select-choices repeat="item in stepOptions | filter: $select.search">
                    <span ng-bind-html="item.text"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="step9">TTDH_Step 9</label>
            <ui-select id="step9" ng-model="step9.selected" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true"
                search-enabled="false">
                <ui-select-match placeholder="Select Step">
                    <span> {{$select.selected.text}}</span>
                </ui-select-match>
                <ui-select-choices repeat="item in stepOptions | filter: $select.search">
                    <span ng-bind-html="item.text"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="step5">TTDH_Step 5</label>
            <ui-select id="step5" ng-model="step5.selected" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true"
                search-enabled="false">
                <ui-select-match placeholder="Select Step">
                    <span> {{$select.selected.text}}</span>
                </ui-select-match>
                <ui-select-choices repeat="item in stepOptions | filter: $select.search">
                    <span ng-bind-html="item.text"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="step10">TTDH_Step 10</label>
            <ui-select id="step10" ng-model="step10.selected" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true"
                search-enabled="false">
                <ui-select-match placeholder="Select Step">
                    <span> {{$select.selected.text}}</span>
                </ui-select-match>
                <ui-select-choices repeat="item in stepOptions | filter: $select.search">
                    <span ng-bind-html="item.text"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 text-left">
        <button type="buttpm" ng-click="previousStep()" class="btn btn-default">
            <i class="ion-arrow-left-c">&nbsp;</i>
            <span>Previous</span>
        </button>
    </div>
    <div class="col-md-6 text-right">
        <button type="button" class="btn btn-info" data-toggle="modal" ng-click="openPopup('app/pages/teamlead/create/popup/success-modal.html', '')">Tạo đơn hàng</button>
    </div>
</div>