<li uib-dropdown>
    <a href uib-dropdown-toggle>
        <span>Select Language</span>
        <div class="current-lang"><img class="img-lang" ng-src="{{ curLang.image }}" /></div>
    </a>

    <div uib-dropdown-menu class="lang-dropdown-menu">
        <i class="dropdown-arr"></i>
        <div class="lang-list">
            <a href class="clearfix" ng-repeat="lang in languages" ng-click="selectLanguage(lang)">
                <div class="img-area">
                    <img ng-class="{'photo-msg-item' : !lang.image}" ng-src="{{ lang.image }}">
                </div>
                <div class="text-area">
                    <div ng-bind-html="getCurLang(lang)"></div>
                </div>
            </a>
        </div>
    </div>
</li>