<div ng-include="'app/pages/teamlead/list/widgets/filter.html'"></div>
<div class="widgets">
  <div class="wid-content">
    <div class="row">
      <div class="col-md-12" ba-panel ba-panel-title="Editable Rows" ba-panel-class="with-scroll" st-table="listTeamlead">
        <div class="table-responsive">
          <table class="table table-hover st-table">
            <thead>
              <tr>
                <th>Order code</th>
                <th>Order name</th>
                <th>Teamlead</th>
                <th>KPI</th>
                <th>Deadline</th>
                <th>Người đề xuất</th>
                <th>Link JD</th>
              </tr>
              <tr>
                <td>
                  <ui-select ng-model="searchSummary.selected" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true"
                    search-enabled="false">
                    <ui-select-match placeholder="Search Summary">
                      <span> {{$select.selected.name}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in listOrderCode | filter: $select.search">
                      <span ng-bind-html="item.name"></span>
                    </ui-select-choices>
                  </ui-select>
                </td>
                <td>
                  <ui-select ng-model="searchOrderName.selected" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true"
                    search-enabled="false">
                    <ui-select-match placeholder="Search Order name">
                      <span> {{$select.selected.name}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in listOrderName | filter: $select.search">
                      <span ng-bind-html="item.name"></span>
                    </ui-select-choices>
                  </ui-select>
                </td>
                <td>
                  <ui-select ng-model="searchTeamlead.selected" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true"
                    search-enabled="false">
                    <ui-select-match placeholder="Teamlead">
                      <span> {{$select.selected.name}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in listFullname | filter: $select.search">
                      <span ng-bind-html="item.name"></span>
                    </ui-select-choices>
                  </ui-select>
                </td>
                <td>
                  <ui-select ng-model="searchKPI.selected" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true"
                    search-enabled="false">
                    <ui-select-match placeholder="Search KPI">
                      <span> {{$select.selected.name}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in listKPI | filter: $select.search">
                      <span ng-bind-html="item.name"></span>
                    </ui-select-choices>
                  </ui-select>
                </td>
                <td>
                  <ui-select ng-model="searchDeadline.selected" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true"
                    search-enabled="false">
                    <ui-select-match placeholder="dd/MM/yy">
                      <span> {{$select.selected.name}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in listDeadline | filter: $select.search">
                      <span ng-bind-html="item.name"></span>
                    </ui-select-choices>
                  </ui-select>
                </td>
                <td>
                  <ui-select ng-model="searchProposer.selected" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true"
                    search-enabled="false">
                    <ui-select-match placeholder="Search người đề xuất">
                      <span> {{$select.selected.name}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in listFullname | filter: $select.search">
                      <span ng-bind-html="item.name"></span>
                    </ui-select-choices>
                  </ui-select>
                </td>
                <td>
                  <select class="form-control">
                    <option>Search Link JD</option>
                    <option value="001">phuongnt15</option>
                    <option value="001">phuongnt15</option>
                  </select>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr class="st-row__parent" ng-repeat="item in listTeamlead track by item.id">
                <td>{{ item.orderCode }}</td>
                <td>{{ item.orderName }}</td>
                <td>{{ item.teamlead }}</td>
                <td>{{ item.kpi }}</td>
                <td>{{ item.deadline }}</td>
                <td>{{ item.proposer }}</td>
                <td>
                  <a href="#" target="_blank">{{ item.linkJD }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="text-center">
          <div st-pagination="" st-template="app/pages/common/pagination.html" st-items-by-page="selectedPageSize.selected.value" st-displayed-pages="5"></div>
        </div>
      </div>
    </div>
  </div>
</div>