<div ng-include="'app/pages/convert/speedDate/widgets/filter.html'"></div>
<div class="widgets">
  <div class="wid-content">
    <div class="row">
      <div class="col-md-12" ba-panel ba-panel-title="Editable Rows" ba-panel-class="with-scroll" st-table="listSpeedDate">
        <div class="table-responsive">
          <table class="table table-hover st-table" >
            <thead>
            <tr class="st-row__parent">
              <th>Ngày tìm CV</th>
              <th>Họ và tên</th>
              <th>Email</th>
              <th>Số điện thoại</th>
              <th>Link CV</th>
              <th>Gọi điện</th>
              <th>Source</th>

            </tr>
            <tr class="st-row__parent">
              <td>
                <div class="input-group st-calendar">
                  <input type="text" class="form-control" ng-change="open()" uib-datepicker-popup="{{format}}" datepicker-options="options" ng-model="dt" is-open="opened" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open()"><i class="ion-calendar"></i></button>
                  </span>
                </div>
              </td>
              <td>
                <select class="form-control">
                  <option>Search Order name</option>
                  <option value="name">Name 001</option>
                </select>
              </td>
              <td>
                <select class="form-control">
                  <option>Teamlead</option>
                  <option value="001">huongtt25</option>
                </select>
              </td>
              <td>
                <select class="form-control">
                  <option>Search KPI</option>
                  <option value="001">kpi 001</option>
                </select>
              </td>
              <td>
                <input type="text" class="form-control" id="txt_search_cv" placeholder="Search link CV">
              </td>
              <td>
                <select class="form-control">
                  <option>Search người đề xuất</option>
                  <option value="001">phuongnt15</option>
                  <option value="001">phuongnt15</option>
                </select>
              </td>
              <td>
                <select class="form-control">
                  <option>Search Link JD</option>
                  <option value="001">phuongnt15</option>
                  <option value="001">phuongnt15</option>
                </select>
              </td>
            </tr>
            </thead>
            <tbody>
              <tr class="st-row__parent" ng-repeat="item in listSpeedDate">
                <td>{{ item.findCVDay }}</td>
                <td>{{ item.userName }}</td>
                <td>{{ item.email }}</td>
                <td>
                  <button type="button" class="btn btn-info btn-block">
                    <i class="glyphicon glyphicon-earphone">&nbsp;</i>
                    <span>Call</span>
                  </button>
                </td>
                <td><a href="#" target="_blank">{{ item.CVLink }}</a></td>
                <td>{{ item.call }}</td>
                <td>{{ item.source }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="text-center">
          <div st-pagination="" st-items-by-page="selectedPageSize.value" st-displayed-pages="5"></div>
        </div>
      </div>
    </div>
  </div>
</div>